<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Empresa - EcoTrack</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles_login.css' %}"> <!-- Referência ao CSS -->
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'users.css' %}">
    {% endblock css %}
</head>
<body style="padding-top:50px; height: 100vh;">
    <div class="container"  style="padding-top: 30px; margin-top: 50px;">

        <div class="back-button">
            <a href="{% url 'home' %}" class="back-btn">&larr; </a>        
        </div>
        <br>
        <div class="login-box">
            <img src="{% static 'logo.png' %}" alt="Logo Ecotrack" class="logo">
            <h1>Registrar Empresa</h1>
            <br>

            <form method="post" action="{{ form_action }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="user_type" value="{{ user_type }}">
                {# Messages section #}
                {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                                
                <label for="nome_empresa">Nome da Empresa:</label>
                <input type="text" id="nome_empresa" name="nome_empresa" class="form-control" value="{{ nome_empresa_value }}">
            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ email_value }}">            
            
                <label for="password1">Senha:</label>
                <input type="password" id="password1" name="password1" class="form-control">
            
                <label for="password2">Confirme a Senha:</label>
                <input type="password" id="password2" name="password2" class="form-control">
            
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="endereco" class="form-control" value="{{ endereco_value }}">
            
                <label for="cep">CEP:</label>
                <input type="text" id="cep" name="cep" class="form-control" value="{{ cep_value }}">
            
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
            <a href="{% url 'user:login' %}">Já possui uma conta? Faça login aqui.</a>
        </div>
    </div>
</body>
</html>

