{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard_user.css' %}">
{% endblock css %}

{% block content %}
<header class="main-header">
    <div class="logo-container">
        <img src="{% static 'img_reciclagem2.png' %}" alt="Imagem de Reciclagem" class="hero-image">
    </div>
</header>

<main>
    <section class="hero">
        <nav class="menu">
            <ul>
                <li><a href="{% url 'agendamentos:agendamentos_coleta'%}">
                    <img src="{% static 'Agendar.png' %}" alt="Agendar">
                    <span>Agendar</span></a>
                </li>
                <li><a href="#"><img src="{% static 'Rastrear.png' %}" alt="Rastrear">
                    <span>Rastrear</span></a>
                </li>
                <li><a href="{% url 'centros:lista_centros' %}">
                    <img src="{% static 'Localizar.png' %}" alt="Localizar">
                    <span>Localizar</span></a>
                </li>
                <li><a href="#"><img src="{% static 'Sobre.png' %}" alt="Sobre">
                    <span>Sobre</span></a>
                </li>
                <li><a href="#"><img src="{% static 'Dicas.png' %}" alt="Dicas">
                    <span>Dicas</span></a>
                </li>
            </ul>
        </nav>
    </section>

    <section class="info-section">
        <h2>O Que Fazemos</h2>
        <div class="features">
            <div class="feature">
                <h3>Educação</h3>
                <p>Oferecemos dicas e conteúdo educativo sobre reciclagem.</p>
            </div>
            <div class="feature">
                <h3>Coleta e Reciclagem</h3>
                <p>Ajudamos você a agendar e rastrear coletas de resíduos.</p>
            </div>
            <div class="feature">
                <h3>Rastreamento</h3>
                <p>Rastreie a jornada dos seus resíduos até o destino final.</p>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
