<!-- users/templates/users/detail_user.html -->

{% extends "base.html" %}
{% block title %}Detalhes do Usuário{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'centros.css' %}">
{% endblock css %}

{% block content %}
  <h2>Detalhes do Usuário</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>ID:</strong> {{ user_detail.id }}</li>
    {% if user_detail.is_company %}
      <li class="list-group-item"><strong>Nome da Empresa:</strong> {{ user_detail.nome_empresa }}</li>
      <li class="list-group-item"><strong>Endereço da Empresa:</strong> {{ user_detail.endereco_empresa }}</li>
    {% else %}
      <li class="list-group-item"><strong>Nome:</strong> {{ user_detail.nome }} {{ user_detail.sobrenome }}</li>
      <li class="list-group-item">
        <strong>Pontuação:</strong> {{ pontuacao }} 
        {% if pontuacao > 0 %}
          <a href="{% url 'user:recompensas' %}" class="btn btn-primary btn-sm ms-2">Acessar Recompensas</a>
        {% else %}
          <span class="text-danger ms-2">Você ainda não possui recompensas disponíveis.</span>
        {% endif %}
      </li>
    {% endif %}
    <li class="list-group-item"><strong>Email:</strong> {{ user_detail.email }}</li>
    <li class="list-group-item"><strong>Tipo:</strong> 
      {% if user_detail.is_company %}
        Empresa
      {% else %}
        Usuário
      {% endif %}
    </li>
  </ul>
{% endblock %}
