{% extends "base.html" %}
{% block title %}Lista de Centros de Coleta{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'centros.css' %}">
{% endblock css %}

{% block content %}
    <h1>Centros de Coleta</h1>

    {% if centros %}
        <ul>
            {% for centro in centros %}
                <li>
                    <strong>{{ centro.nome }}</strong><br>
                    <br><b>Endereço:</b> {{ centro.endereco }}, {{ centro.numero }} {{ centro.complemento }}<br>
                    <br><b>CEP:</b> {{ centro.cep }}<br>
                    <br><b>Telefone:</b> {{ centro.telefone }}<br>
                    <br><b>Tipos de Materiais:</b><br>
                    <ul>
                        {% if centro.tipos_lista %}
                            {% for tipo in centro.tipos_lista %}
                                <li>{{ tipo }}</li>
                            {% endfor %}
                        {% else %}
                            <li>Nenhum tipo selecionado.</li>
                        {% endif %}
                    </ul>
                    <br><b>Horário de Abertura:</b> {{ centro.horario_abertura }}<br>
                    <br><b>Horário de Fechamento:</b> {{ centro.horario_fechamento }}<br>
                    <br>
                    <!-- Botões de Remover e Editar -->
                    <form action="{% url 'centros:remover_centro' centro.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remover</button>
                    </form>
                    <a href="{% url 'centros:atualizar_centro' centro.id %}" class="btn btn-primary">Editar</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum centro de coleta cadastrado.</p>
    {% endif %}

    <a href="{% url 'centros:cadastrar_centro' %}">Cadastrar novo centro</a>
{% endblock %}
