{% extends "base.html" %}
{% block title %}Lista de Centros de Coleta{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'centros.css' %}">
{% endblock css %}

{% block content %}
<div style="margin-right: 200px; margin-left: 200px;">
    <h1>Centros de Coleta</h1>
    
    {% if centros %}
    <a class="nav-link2" style="display: flex; justify-content: center; width: 300px !important; margin: auto; color:white;" href="{% url 'centros:cadastrar_centro' %}">Cadastrar novo centro</a>
        <ul>
            {% for centro in centros %}
                <li>
                    <strong>{{ centro.nome }}</strong><br>
                    <br><b>Endereço:</b> {{ centro.endereco }}, {{ centro.numero }} {{ centro.complemento }}<br>
                    <br><b>CEP:</b> {{ centro.cep }}<br>
                    <br><b>Telefone:</b> {{ centro.telefone }}<br>
                    <br><b>Tipos de Materiais:</b><br>
                    <ul>
                        {% if centro.tipos_lista %}
                            {% for tipo in centro.tipos_lista %}
                                <li>{{ tipo }}</li>
                            {% endfor %}
                        {% else %}
                            <li>Nenhum tipo selecionado.</li>
                        {% endif %}
                    </ul>
                    <br><b>Horário de Abertura:</b> {{ centro.horario_abertura }}<br>
                    <br><b>Horário de Fechamento:</b> {{ centro.horario_fechamento }}<br>
                    <br>
                    <!-- Botões de Remover e Editar -->
                    <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
                        <form action="{% url 'centros:atualizar_centro' centro.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" style="width: 300px; background-color: #28a745;border-radius: 10px; ">
                                Editar
                            </button>
                        </form>
                        <form action="{% url 'centros:remover_centro' centro.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" style="width: 300px; background-color: rgb(214, 9, 9); border-radius: 10px;">
                                Remover
                            </button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="display: flex; justify-content: center; padding-top: 50px;">Nenhum centro de coleta cadastrado.</p>
        <a class="nav-link2" style="display: flex; justify-content: center; width: 300px !important; margin: auto; margin-bottom: 400px;" href="{% url 'centros:cadastrar_centro' %}">Cadastrar novo centro</a>
    {% endif %}
</div>
{% endblock %}
