{% extends "base.html" %}
{% block title %}Mapa de Centros{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'centros.css' %}">
{% endblock css %}

{% block content %}
<body>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1>Centros de Reciclagem</h1>
        <div id="map" style="height: 500px; width: 500px; border-radius: 15px;"></div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        var latitude = -8.0587;  // Latitude da Rua do Bom Jesus, Recife
        var longitude = -34.8769; // Longitude da Rua do Bom Jesus, Recife
        var map = L.map('map').setView([latitude, longitude], 13); // Defina o centro do mapa

        // Substitua 'SUA_CHAVE_API' pela sua chave da API Geoapify
        L.tileLayer('https://maps.geoapify.com/v1/tile/carto/{z}/{x}/{y}.png?&apiKey=fe9dcd1706f6496a8c40b70dcd0cdde6', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Função para carregar os pontos de coleta
        function loadPontosDeColeta() {
            console.log("Carregando pontos de coleta..."); 
            fetch('/centros/pontos-de-coleta/')
            .then(response => response.json())
            .then(data => {
                console.log(data); // Verifique os dados retornados
                var pontos = data.pontos;

                pontos.forEach(function(ponto) {
                    if (ponto.latitude && ponto.longitude) {
                        var lat = parseFloat(ponto.latitude);
                        var lon = parseFloat(ponto.longitude);
                        L.marker([lat, lon]).addTo(map)
                            .bindPopup('<b>' + ponto.nome + '</b><br>' + ponto.endereco);
                    } else {
                        console.log('Coordenadas inválidas para o ponto:', ponto.nome);
                    }
                });
            })
            .catch(error => {
                console.error('Erro ao carregar os pontos de coleta:', error);
            });
        }

        // Carregar os pontos de coleta ao carregar o mapa
        loadPontosDeColeta();
    </script>
{% endblock scripts %}
