{% extends "base.html" %}
{% block title %}Ver Agendamentos{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'style_ver_agendamentos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock css %}

{% block content %} 

    <br>
    <h2>Agendamentos</h2>
    <br>

    <!-- Modal de Mensagem de Sucesso ou Erro -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Notificação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    {% if agendamentos %}
    <table> <!-- Removido o style inline e deixado apenas o CSS para definir a tabela -->
        <thead>
            <tr>
                <th style="background-color: #5db467;">Código</th>
                <th style="background-color: #5db467;">Nome</th>
                <th style="background-color: #5db467;">Tipos de resíduos</th>
                <th style="background-color: #5db467;">Detalhes</th>
                <th style="background-color: #5db467;">Ações</th> <!-- Nova coluna para ações -->
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>#{{ agendamento.id }}</td>
                <td>{{ agendamento.nome }}</td>
                <td>{{ agendamento.tipos_residuos }}</td>
                <td>
                    <p>{{ agendamento.endereco }}</p>
                    <p>{{ agendamento.data }} - {{ agendamento.hora }}h</p>
                </td>
                <td>
                    <!-- Botão de exclusão (ícone de lixeira) -->
                    <form action="{% url 'agendamentos:delete_appointment' agendamento.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('Tem certeza que deseja excluir este agendamento?');">
                            🗑️
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div style="text-align: center; margin-top: 20px;">
        <p>Não há agendamentos para a sua empresa.</p>
    </div>
    
    {% endif %}
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script>
    // Abre o modal automaticamente se houver mensagens
    {% if messages %}
        $(document).ready(function(){
            $('#messageModal').modal('show');
        });
    {% endif %}
</script>
{% endblock %}
