*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: #E4E2DD;
}

.elements {
    text-align: center;
}

/* Estilo para a tabela */
table {
    border-collapse: collapse; /* Remove espaços entre as bordas */
    width: 80%; /* Defina a largura desejada da tabela (80% ou um valor fixo) */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border-radius: 15px; /* Arredonda as bordas da tabela */
    overflow: hidden; /* Garante que os cantos arredondados sejam visíveis */
}

/* Estilo para os cabeçalhos da tabela */
th, td {
    padding: 10px; /* Preenchimento interno */
    border: 1px solid #ccc; /* Borda das células */
    text-align: center; /* Alinhamento do texto */
}

.agendamento_excluir{
    border: none; 
}

th {
    background-color: #f0f0f0; /* Cor de fundo dos cabeçalhos */
}

h2 {
    text-align: center; 
}

/* Estilo para os cabeçalhos e parágrafos dentro do item */
h4 {
    margin: 0; /* Remove margem padrão */
}

p {
    margin: 0; /* Remove margem padrão */
    padding: 2px 0; /* Espaçamento vertical para os parágrafos */
}

.details {
    margin-bottom: 10px; /* Ajuste este valor conforme necessário */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between; /* Empurra os itens para os cantos */
    align-items: center; /* Centraliza verticalmente os itens */
    background-color: #e0ddd5; /* Cor de fundo opcional */
    padding: 10px 20px; /* Espaçamento opcional */
}

.nav-link {
    margin-right: auto; /* Empurra o link para o canto direito */
    padding: 10px 15px; /* Espaçamento ao redor do link */
}

.nav-link2 {
    margin-left: auto; /* Empurra o link para o canto direito */
    color: rgb(0, 0, 0); /* Cor do texto */
    background-color: #28a745;
    text-decoration: none;
    padding: 10px 15px; /* Espaçamento ao redor do link */
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #34495e; /* Cor de fundo ao passar o mouse */
    border-radius: 4px; /* Bordas arredondadas ao passar o mouse */
}
.btn-excluir {
    background-color: transparent; /* Remove fundo */
    border: none; /* Remove borda */
    cursor: pointer;
    width: 40px; /* Ajuste conforme necessário */
    height: 40px; /* Ajuste conforme necessário */
    padding: 0; /* Remove padding */
}

.btn-excluir img {
    width: 100%; /* A imagem ocupa toda a largura do botão */
    height: 100%; /* A imagem ocupa toda a altura do botão */
    object-fit: contain; /* Mantém a proporção da imagem */
}

.agendamento_sem-agendamento {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Modal estilo */
.modal {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white; 
    padding: 20px; 
    margin: 15% auto; 
    width: 300px; 
    text-align: center; 
    border-radius: 5px;
}

.btn-excluir {
    border: none; /* Sem borda */
    text-decoration: none; /* Remove sublinhado */
}

.btn-excluir:hover {
    background-color: transparent; /* Cor de fundo ao passar o mouse */
}

.btn_btn_excluir{
    display: inline-block; /* Exibe como bloco em linha */
    padding: 10px 20px; /* Padding interno */
    margin: 10px 0; /* Margem vertical */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    background-color: #57D463; /* Cor de fundo do botão primário */
    color: white; /* Cor do texto */

}

.btn {
    display: inline-block; /* Exibe como bloco em linha */
    padding: 10px 20px; /* Padding interno */
    margin: 10px 0; /* Margem vertical */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    background-color: #ff0000; /* Cor de fundo do botão primário */
    color: white; /* Cor do texto */
}

/* Responsividade */
@media (max-width: 768px) {
    .col-md-8 {
        width: 100%;
        padding: 15px;
    }

    form button {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn {
        width: 100%;
        text-align: center;
    }

    /* Ajuste para a tabela em telas menores */
    table {
        font-size: 14px; /* Reduz o tamanho da fonte em telas pequenas */
        width: 100%; /* A tabela ocupará 100% da largura em telas pequenas */
    }

    th, td {
        padding: 8px; /* Reduz o preenchimento interno das células */
    }

    .navbar {
        flex-direction: column;
    }
}
