.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 5px;
}

.messages .error {
    background-color: #ffdddd;
    color: #d8000c;
}

.messages .success {
    background-color: #ddffdd;
    color: #4caf50;
}

.messages .info {
    background-color: #e7f3fe;
    color: #31708f;
}
