/* Configurações básicas */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E4E2DD; /* Nova cor de fundo */
    margin: 0;
    padding: 20px;
    color: #333; /* Cor do texto */
}

/* Estilo do cabeçalho */
header {
    background-color: #4caf50; /* Verde reciclável */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    position: relative; /* Para posicionar a imagem */
}

/* Imagem no cabeçalho */
header img {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 50px; /* Ajuste o tamanho conforme necessário */
}

/* Estilo dos títulos */
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    color: #2e7d32; /* Verde mais escuro */
}

/* Estilo dos parágrafos */
p {
    line-height: 1.6;
    margin: 10px 0;
}

/* Centralização e estilo dos botões estilizados */
.nav-buttons {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-wrap: wrap; /* Permite que os botões quebrem para a linha seguinte, se necessário */
    margin: 30px 0; /* Espaçamento acima e abaixo dos botões */
}

.nav-buttons .btn {
    background-color: #76c7c0; /* Verde água */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin: 10px; /* Espaçamento entre os botões */
}

.nav-buttons .btn:hover {
    background-color: #5aa79e; /* Verde mais escuro ao passar o mouse */
}

/* Estilo das seções */
.container {
    margin-top: 50px; /* Ajusta a distância do container em relação ao nav */
    background-color: #ffffff; /* Fundo branco para seções */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo de rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}

/* Links */
a {
    color: #4caf50; /* Verde reciclável */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

/* Estilos para o pop-up */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Botões do modal */
.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn:hover {
    opacity: 0.8;
}

.close-btn {
    background-color: red;
    color: white;
}
